.technologies-holder {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
}

.technology {
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    border-radius: 5px;
    /* background-color: #F1EFC6; */
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    transition: filter 200ms ease-out;
}

.technology:hover {
    filter: brightness(20%);
    background-color: #F1EFC6;
}