@font-face {
    font-family: KoHo;
    src: url(./fonts/KoHo-Regular.woff);
}

* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
    font-family: KoHo;
}

.container {
    padding: 40px clamp(40px, 10%, 500px);
}