@font-face {
    font-family: KoHo;
    src: url(./fonts/KoHo-Regular.woff);
}

* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
    font-family: KoHo;
    scroll-behavior: smooth;
}

.container {
    padding: 40px 0;
    max-width: clamp(300px, 80%, 1200px);
    margin: auto;
}

body {
    background-color: #fafafa;

}